html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	font-family: "Lucida Grande", "Open Sans", "Ubuntu", Tahoma, sans-serif;
	font-size: 11px;
	background: #dedede center center no-repeat;
}

body#with-sidebar {
	background-image: url(../img/background.png);
}

a {
	text-decoration: none;
	color: #00317a;
    outline: 0;
    outline : none;
}

button {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 4px 5px 0 5px;
	outline : none;
}

#sidebar {
	display: none;
}	

#with-sidebar #sidebar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 62px;
	height: 100%;
	background: #333;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 7px 0 0 0;
	text-align: center;
}

#sidebar * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

#siedebar a {
	color: #5b5b5b;
}

#sidebar .sidebar-user img {
	max-width: 50px;
	max-height: 50px;
	border-radius: 8px;
}

#sidebar .unread_mentions {
	color: white;
	background: red;
	border: 2px solid white;
	border-radius: 1em;
	box-shadow: 0 0 1em black;
	padding: 0 0.3em;
	position: absolute;
	top: 100px;
	right: 10px;
	font-weight: bold;
}

#sidebar .unread_mentions:empty {
	/*display: none;*/
}

#with-sidebar #content {
	margin-left: 62px;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ol li .post, .error, header.profile {
	clear: both;
	padding: 8px;
	background: #eee;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #c9c9c9;
	position: relative;
}

.hidden {
	display: none;
}

.error h1 {
	color: red;
}

#content ol > li:first-child > .post {
	border-top: 0;
}

#content ol > li:nth-child(odd) > .post, .error, header.profile, #content #conversation-tree li.odd > .post {
	background: #fafafa;
}

#content ol > li:nth-child(even) > .post, #content #conversation-tree li.even > .post {
	background: #f2f2f2;
}

#content ol > li > .post:hover {
	background: #dedede !important;
}

#content ol > li.highlighteffect > .post {
	background-color: #FFFBD0;
	-webkit-transition: background-color 200ms linear;
}

#content ol > li.highlighteffect-after > .post {
	-webkit-transition: background-color 1000ms linear;
}


#content ol > li .post:after, header.profile:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

header.profile img {
	float: left;
	margin: 0 10px 10px 0;
	max-height: 300px;
	max-width: 100px;
	border-radius: 10px;
}

header.profile table {
	border-collapse: collapse;
	margin-top: 10px;
}

header.profile th {
	text-align: left;
	padding-right: 1em;
}

header.profile h1 + p {
	color: #aaa;
	margin-bottom: 10px;
}

.highlight > .post {
	border-right: 5px solid #f17779;
}

h1 {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1 img {
	vertical-align: middle;
}

p {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

p + p {
	padding-top: 0.5em;
}

.image {
	float: left;
	margin-left: 2px;
	width: 48px;
	max-height: 300px;
	border: 0px solid #f00;
	border-radius: 8px;
	cursor: pointer;
}

.image a {
	display: block;
	width: 48px;
	height: 48px;
}

.images:empty {
    display: none;
}

.images {
    padding-top: 5px;
}

.images img {
	max-width: 100%;
	max-height: inherit;
	margin-right: 0;
	border-radius: 3px;
	box-shadow: 0 0 1px black;
}

.data {
	margin-left: 62px;
}

.is_private {
	color: white;
	padding: 0 4px 0 2px;
	background: #09F;
	border-radius: 3px;
	font-style: italic;
	font-weight: bold;
}

li .post:hover .from {
	display: block;
}

li .post .from {
    position: absolute;
    right: 3.5em;
    display: none;
    padding: 0.3em 0.9em;
    background: #ddd;
    font-size: 0.9em;
    top: auto;
    bottom: -1.8em;
    z-index: 2;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #b9b9b9;
    border-top: 0;
}

li:last-child:not(:first-child) .post:hover .from {
    top: -1.8em;
    bottom: auto;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-bottom: 0;
}

aside {
	float: right;
	margin: 0 0 0 3px;
}

.reply_to, .repost, .remove {
	width: 15px;
	height: 12px;
	background: url(../img/sprite-icons.png) no-repeat -16px 0;
	float: right;
	margin-left: 3px;
	visibility: hidden;
}

li .post:hover > aside .reply_to, li .post:hover > aside .repost, li .post:hover > aside .remove, li .post:hover > aside .ago:before {
	visibility: visible;
}

.ago {
	float: right;
	color: #666;
}

.ago:before {
	content: " ";
	display: inline-block;
	background: url(../img/conversation.png) no-repeat;
	height: 12px;
	width: 15px;
	margin-right: 3px;
	visibility: hidden;
}

.repost {
	background-position: -192px -1px;
}

.remove {
	background-position: -128px 0;
}

li.mentioned .post {
	border-right: 5px solid #00317a;
}

.mentions li.mentioned .post {
	border-right: 0;
}

.reposted_by:before {
	content: " ";
	display: inline-block;
	background: url(../img/sprite-icons.png) no-repeat -192px 0;
	height: 12px;
	width: 15px;
	margin-right: 5px;
}

.reposted_by {
	position: relative;
	color: #00317a;
}

.reposted_by ul {
	display: none;
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 3px 6px;
	background: black;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	z-index: 2;
}

.reposted_by:hover ul {
	display: block;
}

.reposted_by:hover ul:empty {
	display: none;
}

.reposted_by li {
	margin: 0;
	padding: 0;
	background: black;
	text-align: center;
	border: 0;
}

.reposted_by li:hover {
	background: black;
}

.reposted_by li a {
	color: white;
	background: black;
	font-weight: normal;
	text-decoration: none;
	border: none;
	white-space: nowrap;
	text-shadow: none;
}

.reposted_by ul:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.reposted_by ul:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000000;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}

.name {
	font-weight: bold;
}

.name + .name:before {
	content: ", ";
}

.message {
	clear: right;
}

.message a:not(.name) {
	text-decoration: underline;
}

header.profile button {
	background: #09F;
	float: right;
	color: white;
	cursor: pointer;
	padding: 6px 10px;
	border: 0;
	border-radius: 3px;
	font-weight: bold;
	clear: right;
}

header.profile button.following {
	background: #D84A38;
}

a.youtube {
	position: relative;
	display: inline-block;
}

a.youtube:before {
	content: " ";
	background: url(../img/play.png) no-repeat;
	width: 37px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -19px;
	margin-top: -12px;
}

iframe {
	max-width: 500px;
}

form.search {
	text-align: center;
	padding: 5px 10%;
	border-bottom: 1px solid #c9c9c9;
}

form.search input {
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
}

p.noresult {
    padding : 10px;
    text-align : center;
}

.new_post #sidebar, .new_post #content { display: none; }
.new_post { height: 100%; }
#new_post_container { position: absolute; border-collapse: collapse; height: 100%; width: 100%; }
#new_post_container td { position: relative; height: 90%; }
#new_post_container .text td { background: white; }
#new_post_container textarea { resize: none; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; background: transparent; outline: none; }
#new_post_container div { box-sizing: border-box; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; background: white; color: transparent; padding: 2px; }

#new_post_container div span { background: #D8DFEA; }
#suggestions { width: 100%; position: absolute; left: 0; bottom: 0; background: #efefef; list-style-type: none; padding: 0; margin: 0; border-top: 1px solid #ccc; }
#suggestions li { border-top: 1px solid #fefefe; border-bottom: #c9c9c9; padding: 0 0.5em; }
#suggestions strong { font-weight: normal; color: #555; }
#suggestions .active { background: #dedede; }
#suggestions .active strong { color: black; }
#status_bar { height: 1em; border-top: 1px solid #ccc; }
#status_bar p { float: right; margin: 0; padding: 0; }
#status_bar span { display: inline-block; margin: 4px 5px 0 5px; }

#conversation-tree ol {
	border-left: 1px solid #c9c9c9;
	clear: both;
}

#conversation-tree ol li {
	clear: both !important;
	padding-left: 14px;
}

#conversation-tree ol li .post {
	border-left: 1px solid #c9c9c9;
}
